# Node modules
node_modules/
package-lock.json

# Nvim data
.cache/
.session/
.swap/
.undo/
shada/
health/
*.log

# Backup / temporary
*.bak
*.tmp
*.swp
*.swo

# Local system dirs
/local/
.local/
.config/
atexovi_backup_*/